<aside class="w-20 h-full px-3 py-4 overflow-hidden bg-neutral-900 justify-center flex" aria-label="Sidebar">
    <ul class="space-y-2">
        <li>
            <div class="rounded-full w-14 h-14 drop-shadow-xl hover:scale-105 bg-neutral-700 text-center">
            </div>
        </li>
        <li>
            <div class="border-b border-2 border-neutral-700/80" id="nav-line"></div>
        </li>
        <li>
            <img class="rounded-full w-14 h-14 drop-shadow-xl hover:scale-105" src="img/2.gif" />
        </li>
        <li>
            <div class="rounded-full w-14 h-14 drop-shadow-xl hover:scale-105 bg-neutral-700 text-center">
                <p class="text-xl text-green-500">
                    +
                </p>
            </div>
        </li>
    </ul>
</aside>
