<aside class="w-32 h-full px-3 py-4 overflow-hidden bg-neutral-800" aria-label="Sidebar">
    <ul class="space-y-2">
        <li>
            <a href="#" class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700">
                <span class="ml-3">Server</span>
            </a>
        </li>
    </ul>
</aside>
